<div class='container'>
  <p>Listing recipes!</p>
  <div class='row'>
    <% @recipes.each do |r| %>
      <div class='col-md-3'>
        <div class='card mb-4 shadow-sm'>
          <img class='bd-placeholder-img card-img-top' widht='100%' height='225' src="<%= r.photo.url %>" alt="<%= r.title %>">
          <div class='card-body'>
            <p class='card-text'><%= r.title %></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark"><a href="/recipes/<%= r.id %>">View</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
